<header>
  <div class="container">
    <div class="logo-container">
      <img src="images/png-clipart-school-library-drawing-school-child-book-thumbnail.png" alt="logo" />
      <h1>TIENDA DE LIBROS</h1>
    </div>
    <div class="search-container">
      
    </div>
    <button matButton class="primary" [routerLink]="'/'">HOME</button>

    @if(authService.getIsLoggedIn())
    {
    <div class="buttons-container">
      @if (authService.hasRole('Administrator')) {
        <button matButton class="primary" [routerLink]="'/content-config'">CMS</button>
      } @else {
        <button matButton class="primary" [routerLink]="'/profile'">PROFILE</button>
      }
      <button matButton class="accent" (click)="authService.logout()">
        CERRAR SESIÓN
      </button>
    </div>
    } 
    @else 
    {
    <div class="buttons-container">
      <!-- Botones de ingresar y registrate en caso de no estar logged in -->
      <button matButton class="primary" routerLink="/login">INGRESAR</button>
      <button matButton class="accent" routerLink="/register">REGÍSTRATE</button>
    </div>
    }
  </div>
</header>
