<div class="container" [routerLink]="['/libros', data.id]">
    <div class="top">
        <div class="date-time-container">
            <span class="date">{{ data.titulo }}</span>
            <span class="time">{{ data.autor }}</span>
        </div>
        <div class="genre-container">
            <span>{{ data.genreId }}</span>
        </div>
    </div>
    <div class="middle">
        <img [src]="data.imageUrl" alt="Book cover" (error)="onImageError()" />
    </div>
    <div class="bottom">
        <span class="description">{{ data.description }}</span>
        <span class="place">Cuadra 32</span>
    </div>
</div>