.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    & .content-container {

        & .profile-wrapper {
            display: flex;
            gap: 2rem;
            padding: 2rem;
        }
    }

}